<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Service.ServiceImplementation" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <!--
            uncomment to enable MEX over HTTP (requires ADMIN)-->
            <add baseAddress="http://localhost:8000/service"/>
            
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://localhost/private/myQueue" binding="netMsmqBinding" contract="Contracts.IServiceProcessor" bindingConfiguration="ServiceBinding"/>
        <!--
        uncomment to enable MEX over HTTP (requires ADMIN)-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="ServiceBinding">
          <security>
            <transport msmqAuthenticationMode="None"  msmqProtectionLevel="None"/>
          </security>
        </binding>
      
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!--
          uncomment to enable MEX over HTTP (requires ADMIN)-->
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/service/mex"/>
         
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
